.header{
    padding: 1rem;
    background-color: rgb(95,183,207);
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 0.5px;
}

.headerComponent{
    font-size: 1.5vw;
}

.welcomeText{
    color: rgb(0,0,0);
    text-align: center;
}

.hamburgerButton{
    width: 5vh;
    cursor: pointer;
}