
.header{
    padding: 2rem;
    background-color: rgb(95,183,207);
    display: flex;
    justify-content: space-between;
}

.headerComponent{
    font-size: 30px;
}

.welcomeText{
    color: rgb(0,0,0);
    text-align: center;
}

.hamburgerButton{
    width: 5vh;
}