@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: rgb(238,238,238);
  --light-blue: rgb(174,228,237);
  --aqua-blue: rgb(95,183,207);
  --light-purple: rgb(90,121,200);
  --dark-purple: rgb(60,51,154);
  --light-text: rgb(255,255,255);
  --dark-text: rgb(0,0,0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
