@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: rgb(238, 238, 238);
  --login-background: rgb(255, 255, 255);
  --light-blue: rgb(174, 228, 237);
  --aqua-blue: rgb(95, 183, 207);
  --light-purple: rgb(90, 121, 200);
  --dark-purple: rgb(60, 51, 154);
  --light-text: rgb(255, 255, 255);
  --dark-text: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  /* user-select: none; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*Login form styling*/
.login-form {
  display: grid;
  place-items: center;
  background: var(--bg-primary);
  text-align: center;
  height: 100vh;
}
.content {
  width: 330px;
  padding: 40px 30px;
  background: var(--login-background);
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
.content .text {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
}
.field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
.field:nth-child(2) {
  margin-top: 20px;
}
.field input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: var(--login-background);
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.field input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff73;
}
.field span {
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}
.field label {
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  left: 25px;
  background-color: var(--login-background);
  pointer-events: none;
  color: #666666;
}
.field input:valid ~ label {
  opacity: 0;
}

.forgot-pass {
  text-align: left;
  margin: 10px 0 10px 5px;
}
.forgot-pass a {
  font-size: 16px;
  color: var(--light-purple);
  text-decoration: none;
}
.forgot-pass:hover a {
  text-decoration: underline;
}
button {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: var(--light-purple);
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--light-text);
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

button:focus {
  background: var(--dark-purple);
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

#signup-btn {
  margin: 0;
  width: 35%;
  background: var(--login-background);
  box-shadow: none;
  color: var(--light-purple);
  font-size: 15.5px;
}

#signup-btn:hover {
  text-decoration: underline;
}

.sign-up {
  margin: 10px 0;
  color: #595959;
  font-size: 15.5px;
}
.sign-up a {
  color: var(--light-purple);
  text-decoration: none;
}
.sign-up a:hover {
  text-decoration: underline;
}
/*End of login form styling*/

/* Start of modal styling */

dialog {
  /* position: fixed; */
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.7);
}

/* Tool Tip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 100%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Start of Registration Div Styling */

@media screen and (min-width: 500px) {
  #registration-form {
    width: 475px;
    /* max-height: 575px; */
  }
  .field {
    height: 40px;
    width: 100%;
    display: flex;
    position: relative;
  }

  .field:nth-child(2) {
    /* get refresher on nth-child*/
    margin-top: 20px;
  }
  .field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: var(--login-background);
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
  }

  button {
    width: 70%;
    height: 40px;
    margin: 5px 0;
    line-height: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #TicketMate-registration-form {
    font-size: 35px;
    line-height: 2.5rem;
  }
  #registration-form {
    width: 300px;
  }

  dialog {
    backdrop-filter: blur(50px);
    min-height: 100vh;
    position: fixed; /* Modal not covering screen when scrolled down*/
    overflow: scroll; /* Needs adjusting */
  }
}

@media screen and (max-width: 375px) {
  dialog {
    display: grid;
    place-items: center;
  }
}
