
.sidebar{
    padding: 0rem;
    background-color: rgb(95,183,207);
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    position:absolute;
}

.sidebarItem{
    margin: 0.5rem 0 0;
    text-align: left;
    font-size: 1vw;
    padding: 0.5rem 1rem;
    width: 100%;
}

.sidebarItem:hover{
    background-color: rgb(60, 154, 231);
}

.sidebarItem:active{
    background-color: rgb(96, 168, 226);
}

.headerComponent{
    font-size: 30px;
}

.welcomeText{
    color: rgb(0,0,0);
    text-align: center;
}